:root { 
--gray_600_99:#7f7f7f99; 
--gray_50_01:#fff9f9; 
--black_900_3a:#0000003a; 
--gray_50_02:#fffafa; 
--gray_50_03:#f5fbff; 
--blue_gray_100_01:#cdcdcd; 
--red_500:#ff3e3c; 
--gray_50:#f9fbff; 
--green_400:#4cd080; 
--black_900_1e:#0000001e; 
--black_900_23:#00000023; 
--black_900:#000000; 
--gray_500_01:#999999; 
--blue_gray_700:#3d5783; 
--blue_50_01:#d9e7ff; 
--blue_gray_900:#162e55; 
--red_A700:#fc0606; 
--gray_600:#7f7f7f; 
--blue_gray_100:#d7d7d7; 
--gray_500:#a3a3a3; 
--amber_400:#ffcf26; 
--amber_600:#ffb300; 
--blue_gray_600:#545f70; 
--gray_900_00:#16141400; 
--gray_900:#161414; 
--blue_gray_600_01:#545f71; 
--black_900_0c:#0000000c; 
--gray_300:#e0e0e0; 
--blue_50:#e9f7ff; 
--gray_100:#fbf5f5; 
--black_900_33:#00000033; 
--blue_gray_700_7f:#3e57847f; 
--indigo_900_01:#1a3a73; 
--white_A700_01:#fffcfc; 
--indigo_900_02:#021c56; 
--blue_400:#5c95e7; 
--indigo_900:#1c396a; 
--gray_600_93:#7f7f7f93; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--blue_gray_700_01:#3c5783; 
--black_900_16:#00000016; 
}